@font-face {
  font-family: Lequire_Rounded;
  src: url(/fonts/Lequire_Rounded.ttf);
}
@font-face {
  font-family: YAHIKO;
  src: url(/fonts/YAHIKO.ttf);
}


body {
  background-color: #d6e1e6;
  color: black;
  font-family: Lequire_Rounded;
  font-size: 1em;
  overflow: hidden;
}

a, a:hover, a:active{
  color: black;
  text-decoration: none;
}

.navbar-brand {
  font-family: YAHIKO;
  font-weight: 700;
  font-size: calc(12px + 1.2vw);
}

.nav-link::after {
  content: "";
  width: 0px;
  height: 1.5px;
  display: block;
  background: black;
  transition: 300ms;
}
.nav-link:hover::after {
  width: 100%;
}

.circle {
  top:50%; 
  left:50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  position: absolute;
  border-radius: 50%;
  background-color: #c33130;
  box-shadow: 2px 2px 5px #bd302f, -2px -2px 5px #c93231;
  z-index: 5;
}

.typography {
  position: absolute;
  top:50%; 
  left:50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3vw;
  z-index: 10;
  mix-blend-mode: darken;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.cartoon {
  position: absolute;
  top:70%; 
  left:80%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vh;
  z-index: 7;
  background-color: transparent;
  background-image: url("/images/before_circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}